@import '../../../../scss/palette';

.with-details {
  & .header,
  & .footer {
    background-color: $BLACK;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    & .assignDomain {
      & button {
        margin-left: 10px;
      }
    }
  }

  & .label-container {
    font-size: 1rem;
    padding: 20px;
    font-weight: 600;

    & .label {
      margin-left: 5px;

      & .label-input {
        font-size: 1rem;
        padding: 0;
      }
    }
  }
}
