@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
@import './scss/palette';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  height: 100%;
  background-color: $WHITE;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: $BLACK;

  & > div {
    height: 100%;
  }
}
